/************************************************************/
/* error */

.js-field.form_error .jq-selectbox__select-text, .js-field.form_error input[type=text], .js-field.form_error .jq-checkbox {
	border-color: #f00;
}
.form_submit_error {
	color: #f00;
    text-align: center;
    font-size: 15px;
    padding: 8px 0 1px 0;
}
.form_submit_success {
	color: #090;
    text-align: center;
    font-size: 15px;
    padding: 8px 0 1px 0;
}

/************************************************************/
/* select */

.jq-selectbox {
	width: 100%;
	margin-top: 6px;
}
.jq-selectbox__select-text {
	border: 1px solid rgba(195, 195, 195, 1);
	height: 45px;
	width: 100%!important;
	border-radius: 5px;
	background: #fff;
	padding: 10px 13px 8px 13px;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0%;
	color: rgba(75, 80, 83, 1);
	display: flex;
	justify-content: space-between;
}
.jq-selectbox__select-text:after {
	content: '';
	display: block;
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L6 6L1 1' stroke='%234B5053' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	width: 12px;
	height: 7px;
	margin-top: 8px;
}
.jq-selectbox__dropdown {
	width: 100%;
}
.jq-selectbox__dropdown ul {
	background: #fff;
	margin-top: 0;
	padding: 7px 0;
	border-radius: 0 0 5px 5px;
	box-shadow: 0px 6px 36px 0px rgba(38, 62, 77, 0.1);
}
.jq-selectbox__dropdown ul li {
	list-style-type: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0%;
	height: 37px;
	color: rgba(75, 80, 83, 1);
	display: flex;
	align-items: center;
	padding: 7px 14px;

}
.jq-selectbox__dropdown ul li:hover {
	background: rgba(229, 246, 255, 1);
	font-weight: 600;
	color: rgba(28, 37, 43, 1);
}
.jq-selectbox.changed .jq-selectbox__select-text, .jq-selectbox.opened .jq-selectbox__select-text {
	border-color: rgba(0, 162, 255, 1);
}
.jq-selectbox.disabled .jq-selectbox__select-text {
	opacity: 0.5;
}

.jq-selectbox.opened .jq-selectbox__select-text:after {
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2802_3071)'%3E%3Cpath d='M11 6L6 1L1 6' stroke='%2300A2FF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2802_3071'%3E%3Crect width='12' height='7' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

/************************************************************/
/* radio */

.jq-radio {
	width: 17px;
	min-width: 17px;
	height: 17px;
	background: #fff;
	border: 1.5px solid rgba(195, 195, 195, 1);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.jq-radio.checked {
	background: rgba(0, 162, 255, 1);
	border-color: rgba(0, 162, 255, 1);
}
.jq-radio.checked + span {
	color: rgba(28, 37, 43, 1);
}
.jq-radio.checked .jq-radio__div {
	width: 9px;
	min-width: 9px;
	height: 9px;
	background: #fff;
	border-radius: 50%;
}
.jq-radio {
	margin-right: 6px;
}
.radio-group {
	display: flex;
	margin-top: 6px;
	padding-bottom: 22px;
	border-bottom: 1px solid rgba(217, 217, 217, 1);
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0%;
	color: rgba(75, 80, 83, 1);
}
.radio-group label {
	display: flex;
	margin-right: 14px;
	align-items: center;
}
.field_noborder .radio-group {
	border-bottom: 0;
}

/************************************************************/
/* checkbox */

.jq-checkbox {
	width: 17px;
	min-width: 17px;
	height: 17px;
	background: #fff;
	border: 1.5px solid rgba(195, 195, 195, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 2px;
    padding-left: 1px;
	position: relative;
    top: 2px;
}
.jq-checkbox.checked {
	background: rgba(0, 162, 255, 1);
	border-color: rgba(0, 162, 255, 1);
}
.jq-checkbox.checked + span {
	color: rgba(28, 37, 43, 1);
}
.jq-checkbox.checked .jq-checkbox__div {
	width: 12px;
    min-width: 12px;
    height: 12px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16px' height='16px'%3E%3Cpath d='M5.857 14.844L0.172 9.032 3.031 6.235 5.888 9.156 12.984 2.061 15.812 4.889z' fill='%23ffffff'/%3E%3C/svg%3E");
	background-size: contain;
}
.jq-checkbox {
	margin-right: 6px;
}
.checkbox-group {
	display: flex;
	margin-top: 6px;
	padding-bottom: 22px;
	border-bottom: 1px solid rgba(217, 217, 217, 1);
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0%;
	color: rgba(75, 80, 83, 1);
}
.checkbox-group label {
	display: flex;
	margin-right: 14px;
	align-items: center;
}
.field_noborder .checkbox-group {
	border-bottom: 0;
}

/************************************************************/
/* input text */

/*
input[name=phone] {
	border: 1px solid rgba(195, 195, 195, 1);
	height: 45px;
	width: 100%!important;
	border-radius: 5px;
	background: #fff;
	padding: 10px 13px 8px 13px;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0%;
	color: rgba(75, 80, 83, 1);
	display: flex;
	justify-content: space-between;
}
input[name=phone] {
	margin-bottom: 8px;
	margin-top: -8px;
}
*/

/************************************************************/
/* range slider */

.flex {
	display: flex;
	align-items: center;
}
.flex .irs--round {
	width: 100%;
	margin-top: -18px;
}
.irs--round .irs-handle {
	top: 30px;
	margin-left: -1px;
	border: 4px solid rgba(0, 162, 255, 1);
	width: 17px;
	height: 17px;
	box-shadow: none;
}
.irs--round .irs-bar {
	background: rgba(0, 162, 255, 1);
}
.irs-hidden-input {
	width: 50px!important;
    height: auto!important;
    font-size: 10px!important;
	position: initial!important;
	z-index: 1!important;
	margin-left: 10px!important;
	border: 1px solid rgba(195, 195, 195, 1)!important;
	height: 45px!important;
	border-radius: 5px!important;
	background: #fff!important;
	padding: 10px 13px 8px 13px!important;
	font-weight: 500!important;
	font-size: 14px!important;
	line-height: 150%!important;
	letter-spacing: 0%!important;
	color: rgba(75, 80, 83, 1)!important;
	display: flex!important;
	justify-content: space-between!important;
	margin-top: 6px !important;
	text-align: center;
}

/**********************************************************/
.politic_flex {
	display: flex;
	font-size: 14px;
    margin: 20px 0;
}
